---
http_interactions:
- request:
    method: get
    uri: http://api.ollehmap.com:10082/giop/rest/geocode/Geocode.json?addr=%EB%B6%80%EC%82%B0%ED%83%80%EC%9B%8C&addrcdtype=0&key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"RESDATA":{"COUNT":0},"ID":"501","ERRCD":0,"NO":"afvU-20170523112331","ERRMS":"SUCCESS"}'
  recorded_at: Tue, 23 May 2017 02:01:09 GMT
recorded_with: VCR 3.0.3
