---
http_interactions:
- request:
    method: get
    uri: http://api.ollehmap.com:10082/giop/rest/etc/ConvertCoord.json?inCoordType=0&key=API_KEY&outCoordType=7&x=960713&y=1946274
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"RESDATA":{"COORD":{"COORDTYPE":"LLW","Y":"37.51491635059331","X":"127.05543973133743"}},"ID":"601","ERRCD":0,"NO":"2jIQ-20170523114248","ERRMS":"SUCCESS"}'
  recorded_at: Tue, 23 May 2017 02:20:26 GMT
recorded_with: VCR 3.0.3
